In [4]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')

In [48]:
df = pd.read_csv('./highest grossing movie by year .csv')
col = (['year', 'film', 'gross'])
df.head()
df = df.drop(['Unnamed: 0', 'Unnamed: 4','Unnamed: 5', 'Unnamed: 6'], axis = 1 )
df.reset_index(drop = True)
df.columns = col
df = df.drop(index = 0, axis = 0)
df.tail(10)
df.sort_values('gross')

    year                                           film            gross
3   1979                              Kramer vs. Kramer  $106,260,000.00
2   1978                                       Superman  $134,218,018.00
11  1987                           Three Men and a Baby  $167,780,960.00
12  1988                                       Rain Man  $172,825,435.00
10  1986                                        Top Gun  $176,781,728.00
4   1980                        The Empire Strikes Back  $181,379,640.00
19  1995                                      Toy Story  $191,796,233.00
44  2020                              Bad Boys for Life  $204,417,855.00
15  1991                     Terminator 2: Judgment Day  $204,843,345.00
9   1985                             Back to the Future  $210,609,762.00
5   1981                        Raiders of the Lost Ark  $212,222,025.00
22  1998                            Saving Private Ryan  $216,540,909.00
16  1992                                        Aladdin  $217,350,219.00
1   1977                                      Star Wars  $221,280,994.00
8   1984                              Beverly Hills Cop  $234,760,478.00
13  1989                                         Batman  $251,188,924.00
7   1983                             Return of the Jedi  $252,583,617.00
24  2000                 How the Grinch Stole Christmas  $260,044,825.00
14  1990                                     Home Alone  $285,761,243.00
20  1996                               Independence Day  $306,169,268.00
25  2001          Harry Potter and the Sorcerer's Stone  $317,575,550.00
18  1994                                   Forrest Gump  $329,694,499.00
31  2007                                   Spider-Man 3  $336,530,303.00
38  2014                                American Sniper  $350,126,372.00
17  1993                                  Jurassic Park  $357,067,947.00
6   1982                     E.T. the Extra-Terrestrial  $359,197,037.00
27  2003  The Lord of the Rings: The Return of the King  $377,027,325.00
29  2005   Star Wars: Episode III - Revenge of the Sith  $380,270,577.00
35  2011   Harry Potter and the Deathly Hallows: Part 2  $381,011,219.00
26  2002                                     Spider-Man  $403,706,375.00
34  2010                                    Toy Story 3  $415,004,880.00
30  2006     Pirates of the Caribbean: Dead Man's Chest  $423,315,812.00
37  2013                The Hunger Games: Catching Fire  $424,668,047.00
23  1999      Star Wars: Episode I - The Phantom Menace  $431,088,295.00
28  2004                                        Shrek 2  $441,226,247.00
40  2016                   Rogue One: A Star Wars Story  $532,177,324.00
32  2008                                The Dark Knight  $533,345,358.00
21  1997                                        Titanic  $600,788,188.00
41  2017        Star Wars: Episode VIII - The Last Jedi  $620,181,382.00
36  2012                                   The Avengers  $623,357,910.00
42  2018                                  Black Panther  $700,059,566.00
33  2009                                         Avatar  $749,766,139.00
43  2019                              Avengers: Endgame  $858,373,000.00
39  2015     Star Wars: Episode VII - The Force Awakens  $936,662,225.00